
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

.logo{
    position: relative;
      border: 2px black solid;
      border-radius: 5px;
      box-shadow: 3px 3px 3px rgb(20,18,17);
      left: 10px;
      top: 10px;
}
.LogoandHeader {
    text-align: center;
    display: inline;
}

.motto{
    font-size: 40%;
    text-align: center;
}

#section1{
    text-align: center;
    background
}

.primarynav {
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-block;
    text-decoration-color: #000000;

}

.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #Fa6f57;
}

.navi {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #Fa6f57;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: #Fa6f57;
  text-decoration-color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #Cea290;}

.dropdown:hover .dropdown-content {
  display: block;
}